{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur mon blog !</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eligendi ipsam, hic doloremque dolore quibusdam corrupti at voluptatem id nesciunt molestias, labore nostrum cum laudantium, distinctio numquam voluptates mollitia obcaecati itaque atque. Rem at itaque pariatur aperiam doloribus ullam reprehenderit.</p>
<p>Facere maxime delectus corrupti nostrum cupiditate vitae impedit laborum magnam voluptatibus rem obcaecati dicta quos error, natus esse repellendus cum nisi accusamus, ducimus sed placeat, deleniti exercitationem aperiam quam. Minima, provident nam delectus aliquam voluptate fugit ipsam impedit similique commodi?</p>
{% endblock %}